<div class="col-xs-12">
    <form (ngSubmit)="addRecipe()" [formGroup]="newRecipeForm">
        <div class="row">
           <div class="col-xs-12">
            <button class="btn btn-success" [disabled]="!newRecipeForm.valid" type="submit">Save</button>
            <button cancel class="btn btn-danger" (click)="onCancelForm()" type="button">Cancel</button>
           </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                     type="text" 
                     class="form-control" 
                     formControlName="name"
                     id="name"
                    >
                    <span *ngIf="newRecipeForm.get('name').hasError('required') && newRecipeForm.get('name').touched">Pls input the name of your recipe</span>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="url">Image URL</label>
                    <input
                     type="text" 
                     class="form-control" 
                     formControlName="url"
                     id="url"
                    >
                    <span *ngIf="newRecipeForm.get('url').hasError('required') && newRecipeForm.get('url').touched">Pls add the URL of the recipe's image</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <img [src]="newRecipeForm.get('url').value" alt="">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea
                     type="text" 
                     class="form-control" 
                     id="desc"
                     formControlName="description"
                     rows="6"
                    ></textarea>
                    <span *ngIf="newRecipeForm.get('description').hasError('required') && newRecipeForm.get('description').touched">Pls add a description for the recipe</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" formArrayName="ingredients">
                <div 
                class="row" 
                *ngFor="let ingredient of getControls() let i = index" 
                [formGroupName]="i"
                marginTop
                >
                    <div class="col-xs-8">
                        <input
                         type="text" 
                         class="form-control" 
                         formControlName="name"
                         id="url"
                        >
                    </div>
                    <div class="col-xs-2">
                        <input
                         type="number" 
                         class="form-control" 
                         formControlName="amount"
                         id="url"
                        >
                    </div>
                    <div class="col-xs-2">
                        <button class="btn btn-danger" (click)="removeIngredient(i)" type="button">X</button>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-success" type="button" (click)="onAddIngredient()">Add Ingredient</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>